// ==================================
// c-button
// ==================================
.c-button {
  border: 1px solid $font-size_default;
  border-radius: 0.25rem;
  color: $color-default;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1;
  outline: none;
  padding: 0.7rem 0.9rem;
  text-decoration: none;
  transition: all 0.2s;
  &:hover{
    transform: translate(-2px, -2px);
  }
  &:active{
    transform: translate(0);
  }
  &--inverse {
    background: #222;
    border-color: #222;
    color: $color-white;
  }

  &--twitter {
    background: $color-twitter;
    border-color: $color-twitter;
    color: $color-white;
  }

  &--cancel {
    border-color: $color-default;
    color: $color-default;
  }

  &--danger {
    color: $color-white;
    border-color: $color-danger;
    background: $color-danger;
  }
  &--success {
    color: $color-white;
    border-color: $color-success;
    background: $color-success;
  }
}