// ==================================
// c-card
// ==================================
.c-card{
  padding: 10px;
  border: 1px solid $color-default-parent;
  border-radius: 5px;
  box-sizing: border-box;
}