// ==================================
// c-icon
// ==================================
.c-icon {
  &--twitter {
    color: $color-twitter;
  }
  &--gray{
    color: $color-icon-gray;
  }
  &--white{
    color: $color-white;
  }
}
