// ==================================
// c-tab
// ==================================
.c-tab{
  width: 100%;
  margin-bottom: 15px;
  box-sizing: border-box;
  &__list{
    display: flex;
  }
  &__item{
    font-size: $font-size_m;
    color: $color-default-parent;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 3px solid $color-default-parent;
    margin-right: 20px;
    &:hover {
      cursor: pointer;
    }
    &:last-of-type{
      margin-right: 0;
    }

    &--active{
      color: $color-default;
      border-bottom: 3px solid $color-default;
    }
  }
}

