//foundation
@import "foundation/reset";
@import "foundation/variable";
@import "foundation/breakpoint";
@import "foundation/base";
//layout
@import "layout/**";
//component
@import "object/component/**";
//project
@import "object/project/**";

//utility
@import "object/utility/**";


// ==================================
// c-icon
// ==================================
.c-icon {
  &--twitter {
    color: $color-twitter;
  }
  &--gray{
    color: $color-icon-gray;
  }
}




// ==================================
// p-login
// ==================================
.p-login {
  &__panel {
    padding: 40px;
    border: 1px solid $color-default-parent;
    border-radius: 5px;
  }
}

