// ==================================
// p-contents
// ==================================
.p-contents {
  &__area {
    width: 980px;
    min-width: 980px;
    @include mq() {
      width: 100%;
      min-width: initial;
    }

    &--narrow {
      width: 450px;
      min-width: 450px;
      @include mq(){
        width: 100%;
        min-width: initial;
      }
    }
  }

  &__head {
    font-size: $font-size_l;
    text-align: center;
    margin-bottom: 50px;
    @include mq(){
      font-size: $font-size_m;
      margin-bottom: 30px;
    }
  }
}