@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  width: 100%;
  color: #333;
  font-size: 14px;
  line-height: 1.6;
  font-family: "Crimson Text", "\30D2\30E9\30AE\30CE\89D2\30B4\30B7\30C3\30AF   Pro", "Hiragino Kaku Gothic Pro", "Noto Sans JP", sans-serif;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

.l-body {
  margin: 0;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.l-main {
  flex: 1;
}

p,
a {
  font-smoothing: antialiased;
}

a {
  color: #333;
  text-decoration: none;
  transition: 0.7s;
}

img {
  width: 100%;
  vertical-align: bottom;
}

.l-contents {
  padding: calc(80px + 50px) 10%;
  display: flex;
  justify-content: center;
}

.l-header {
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
}

.c-button {
  border: 1px solid 14px;
  border-radius: 0.25rem;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1;
  outline: none;
  padding: 0.7rem 0.9rem;
  text-decoration: none;
  transition: all 0.2s;
  -webkit-filter: drop-shadow(0px 3px 5px #3335);
          filter: drop-shadow(0px 3px 5px #3335);
}

.c-button:hover {
  -webkit-transform: translate(-2px, -2px);
          transform: translate(-2px, -2px);
}

.c-button:active {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.c-button--inverse {
  background: #222;
  border-color: #222;
  color: #fff;
}

.c-button--twitter {
  background: #55acee;
  border-color: #55acee;
  color: #fff;
}

.c-button--cancel {
  border-color: #333;
  color: #333;
}

.c-button--danger {
  color: #fff;
  border-color: #dc3545;
  background: #dc3545;
}

.c-button--success {
  color: #fff;
  border-color: #5cb85c;
  background: #5cb85c;
}

.c-card {
  padding: 10px;
  border: 1px solid #3335;
  border-radius: 5px;
  box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 5px 3px #3335);
          filter: drop-shadow(0px 5px 3px #3335);
  position: relative;
  z-index: 1;
}

.c-foot {
  padding: 10px 0;
}

.c-foot__p {
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}

.c-icon--twitter {
  color: #55acee;
}

.c-icon--gray {
  color: #6c757d;
}

.c-icon--white {
  color: #fff;
}

.c-tab {
  width: 100%;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.c-tab__list {
  display: flex;
}

.c-tab__item {
  font-size: 16px;
  color: #3335;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 3px solid #3335;
  margin-right: 20px;
}

.c-tab__item:hover {
  cursor: pointer;
}

.c-tab__item:last-of-type {
  margin-right: 0;
}

.c-tab__item--active {
  color: #333;
  border-bottom: 3px solid #333;
}

.p-contents__area {
  width: 980px;
  min-width: 980px;
}

.p-contents__area--narrow {
  width: 450px;
  min-width: 450px;
}

.p-contents__head {
  font-size: 18px;
  text-align: center;
  margin-bottom: 50px;
}

.p-form {
  width: 100%;
}

.p-form__label {
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
}

.p-form__item {
  font-size: 16px;
  width: 100%;
  height: 40px;
  font-weight: 100;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 30px;
  line-height: 25px;
  border: 1px solid #3335;
  border-radius: 5px;
}

.p-form__item--date {
  width: 30%;
}

.p-form__item--textarea {
  height: 150px;
  letter-spacing: 0.05em;
}

.p-form__date {
  font-size: 16px;
  width: 45%;
  height: 40px;
  font-weight: 100;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 30px;
  line-height: 25px;
  border: 1px solid #3335;
  border-radius: 5px;
}

.p-form__button {
  text-align: right;
  transition: 0.3s;
}

.p-form__button:hover {
  opacity: 0.8;
}

.p-form__select {
  width: 100%;
  font-size: 16px;
  height: 40px;
  font-weight: 100;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 30px;
  line-height: 25px;
  border: 1px solid #3335;
  border-radius: 5px;
}

.p-form__notion {
  font-size: 14px;
}

.p-navbar {
  height: 50px;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #63513b63;
  box-shadow: 0px 4px 8px -1px #42544caa;
}

.p-navbar__title_link {
  font-size: 24px;
}

.p-twitter {
  width: 100%;
}

.p-twitter__card {
  height: 70px;
  overflow: hidden;
  margin-bottom: 15px;
  transition: 0.5s;
}

.p-twitter__card:hover {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  cursor: pointer;
}

.p-twitter__create {
  font-size: 18px;
  line-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-twitter__profile {
  width: 70%;
  float: left;
  overflow: hidden;
}

.p-twitter__action {
  width: 15%;
  text-align: right;
  float: right;
  line-height: 50px;
}

.p-twitter__img {
  background: #63513b63;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 30px;
  float: left;
}

.p-twitter__ids {
  float: left;
  line-height: 25px;
}

.p-twitter__name {
  font-weight: bold;
}

.p-twitter__icon {
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 24px;
  height: 50px;
  padding: 15px;
  margin-right: 5px;
  box-sizing: border-box;
}

.p-twitter__icon--create {
  font-size: 24px;
  margin-right: 10px;
}

.u-color__bg--white {
  background: #fff;
}

.u-display__flex--left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-enter {
  -webkit-transform: translate(10%, 0);
          transform: translate(10%, 0);
  opacity: 0;
}

.page-enter-to {
  opacity: 1;
}

.page-enter-active {
  transition: all 1s 0s ease;
}

.page-leave {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.page-leave-to {
  -webkit-transform: translate(-10%, 0);
          transform: translate(-10%, 0);
  opacity: 0;
}

.page-leave-active {
  transition: all 0.3s 0s ease;
}

.tab-enter {
  -webkit-transform: translate(-10%, 0);
          transform: translate(-10%, 0);
  opacity: 0;
}

.tab-enter-to {
  opacity: 1;
}

.tab-enter-active {
  transition: all 1s 0.1s ease;
}

.tab-leave {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.tab-leave-to {
  -webkit-transform: translate(10%, 0);
          transform: translate(10%, 0);
  opacity: 0;
}

.tab-leave-active {
  transition: all 0.5s 0s ease;
}

.t-del-enter {
  opacity: 0;
}

.t-del-enter-to {
  opacity: 1;
}

.t-del-enter-active {
  transition: all 0.5s 0s ease-out;
}

.t-del-leave {
  opacity: 1;
}

.t-del-leave-to {
  opacity: 0;
}

.t-del-leave-active {
  transition: all 0s 0s;
  display: none;
}

.t-dashboard_panel-enter {
  -webkit-transform: translate(10%, 0);
          transform: translate(10%, 0);
  opacity: 0;
}

.t-dashboard_panel-enter-to {
  opacity: 1;
}

.t-dashboard_panel-enter-active {
  transition: all 0.7s 0s ease;
}

.t-dashboard_panel-leave {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.t-dashboard_panel-leave-to {
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  opacity: 0;
}

.t-dashboard_panel-leave-active {
  display: none;
}

.t-twitter_card-leave {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.t-twitter_card-leave-to {
  opacity: 0;
}

.t-twitter_card-leave-active {
  transition: all 1s;
}

.t-th-enter {
  -webkit-transform: translate(10%, 0);
          transform: translate(10%, 0);
  opacity: 0;
}

.t-th-enter-to {
  opacity: 1;
}

.t-th-enter-active {
  transition: all 0.7s 0s ease;
}

.t-th-leave {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.t-th-leave-to {
  -webkit-transform: translate(-10%, 0);
          transform: translate(-10%, 0);
  opacity: 0;
}

.t-th-leave-active {
  transition: all 0.7s 0s ease;
}

.c-panel {
  padding: 40px;
  border: 1px solid #3335;
  border-radius: 5px;
  box-shadow: 0px 5px 3px #3335;
}

.p-login {
  position: relative;
}

.p-login__panel {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  left: 0;
}

.p-profile {
  padding: 0 15% 40px 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-profile__img {
  height: 120px;
  width: 120px;
  background: #55acee;
  border-radius: 50%;
  margin-right: 50px;
}

.p-profile__info {
  font-size: 18px;
  line-height: 40px;
  text-align: center;
}

.p-profile__name {
  font-size: 24px;
  font-weight: bold;
}

.p-dashboard__panel {
  padding: 40px;
  border: 1px solid #3335;
  border-radius: 5px;
}

.p-table {
  width: 100%;
  text-align: left;
  box-sizing: border-box;
}

.p-table__title {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-table__caption {
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  display: inline-block;
}

.p-table__button {
  display: inline-block;
}

.p-table__head {
  font-size: 16px;
  font-weight: bold;
}

.p-table__th {
  padding: 10px;
  border-bottom: 3px solid #55acee;
  margin-right: 10px;
  box-sizing: border-box;
}

.p-table__th--follow:nth-child(1),
.p-table__th--follow:nth-child(2) {
  width: 15%;
}

.p-table__th--follow:nth-child(3) {
  width: 40%;
}

.p-table__th--follow:nth-child(4) {
  width: 20%;
}

.p-table__th--like:nth-child(1) {
  width: 80%;
}

.p-table__th--like:nth-child(2) {
  width: 20%;
}

.p-table__th--tweet:nth-child(1),
.p-table__th--tweet:nth-child(4) {
  width: 20%;
}

.p-table__th--tweet:nth-child(3) {
  width: 25%;
}

.p-table__th--tweet:nth-child(2) {
  width: 35%;
}

.p-table__th--filter:nth-child(1) {
  width: 20%;
}

.p-table__th--filter:nth-child(2),
.p-table__th--filter:nth-child(3) {
  width: 30%;
}

.p-table__th--filter:nth-child(4) {
  width: 20%;
}

.p-table__td {
  padding: 10px;
  border-bottom: 1px dotted #3335;
}

.p-status {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.p-status__show {
  font-size: 24px;
  margin-right: 40px;
}

.p-status__button {
  margin-right: 10px;
}

.p-modal {
  background: #3335;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  opacity: 0;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.p-modal__contents {
  position: relative;
  background: #fff;
  width: 600px;
  padding: 40px;
  box-sizing: border-box;
}

.p-modal__cancel {
  position: absolute;
  z-index: 201;
  right: -10px;
  top: -10px;
  border-radius: 50%;
}

.p-modal__icon {
  font-size: 18px;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  border: 2px solid #3335;
}

